<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/public/css/main-styles.css">
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.plot.ly/plotly-2.16.5.min.js"></script>
  </head>
  <body>
    <header>
        <h1>Spotterfy</h1>
        <nav>
        <ul id="nav_links">
            <li><a href = "/homepage">Home</a></li>
            <li><a href = "/reserve">Reserve</a></li>
            <li><a href = "/profile">Profile</a></li>
        </ul>
        </nav>
    </header>
    {{{body}}}
  </body>
  <script src="/public/js/ajax.js"></script>
</html>