<div class="form-container">
    {{#if error}}
        <div class="error-container">
        {{error}}
        </div> 
    {{/if}}
    <form id="login-form" action="login" method="POST">
        <label for="emailInput">Email: </label>
        <input type="email" id="emailInput" name="emailInput" />
        <label for="passwordInput">Password: </label>
        <input type="password" id="passwordInput" name="passwordInput" /> <br>
        <button type="submit" class="login">Sign In</button>
    </form>
    <p class="form-link-text">New to Spotterfy? <a class="form-link" href="/register">Create an account</a></p>
</div>