<main>
    <div class="form-container">
        {{#if error}}
        <div class="error-container">
        {{error}}
        </div> 
        {{/if}}
        <form id="login-form" action="login" method="POST">
            <label for="emailInput">Email: </label>
            <input type="email" id="emailInput" name="emailInput" placeholder="Email" pattern="[A-za-z]+@stevens.edu" required/>
            <label for="passwordInput">Password: </label>
            <input type="password" id="passwordInput" name="passwordInput" placeholder="Password" required/>
            <button type="submit" class="login">Sign In</button>
        </form>
        <p class="form-link-text">New to Spotterfy? <a class="form-link" href="/register">Create an account</a></p>
    </div>
</main>
<script src="/public/js/login-form.js"></script>