<main>
    <div class="form-container">
        {{#if error}}
        <div class="error-container">
            {{error}}
        </div>
        {{else}}
        <div class="hidden">
            Filler text
        </div>
        {{/if}}
        <form id="register-form" action="register" method="POST">
            <label for="emailInput">Email: </label>
            <input type="text" id="emailInput" name="emailInput">
            <label for="cwidInput">CWID: </label>
            <input type="number" id="cwidInput" name="cwidInput">
            <label for="passwordInput">Password: </label>
            <input type="password" id="passwordInput" name="passwordInput">
            <button type="submit" class="register">Sign Up</button>
        </form>
    </div>
    <p class="form-link-text">Already have an account? <a class="form-link" href="/login">Sign in</a></p>
</main>