* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

#nav_links {
    list-style: none;
}

#nav_links li {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 0px 5px;
}

#nav_links li.active_link,
#nav_links li.active_link>a {
    background-color: #486fb8;
    color: white;
}

#nav_links li:hover,
#nav_links li:hover>a {
    background-color: lightgray;
    color: black;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

#login-form,
#register-form,
#reservation-form {
    text-align: center;
    padding-bottom: 10px;
}

.error-container {
    background-color: #f74d4d;
    color: #fff;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 15px 5px;
    margin: 10px 0 10px;
}

#homepage-container {
    display: flex;
    justify-content: space-between;
}

form label {
    display: block;
    margin-bottom: 7px;
}

form input {
    display: block;
    width: 200px;
    margin: 0 auto 7px;
}

form button {
    font-size: 18px;
    margin: 15px 0;
    padding: 4px 1.5em 4px;
}

form select {
    display: block;
    height: 25px;
    margin: 0 auto 7px;
    padding-left: 5px;
}

form #workouts {
    height: 100px;
}

.visible-users {
    text-align: right;
    font-size: 12px;
    border: 2px solid black;
    padding: 10px;
    height: 1000px;
}