* {
    font-family: "Poppins", sans-serif;
}

.error-container {
    background-color: #f74d4d;
    color: #fff;
    border-radius: 5px;
    width: fit-content;
}

form #login-form,
form #register-form {
    display: table;
}

form label {
    display: table-cell;
}

form input {
    display: table-cell;
    width: 200px;
    margin-bottom: 7px;
}

form button {
    font-size: 15px;
}

form #classInput {
    height: 20px;
    margin-bottom: 7px;
}